:root {
    --dark: #00203fff;
    --light: #ADEFD1DD;
    }

body {
    background-color: var(--light);
}



nav a {
    color: var(--light);
    text-decoration: none;
    padding-top: 10px;
    margin-right: 20px;
    font-size: 20px;
    display: inline-block;
    margin-left: 25px;
    }

p {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--dark);
    text-align: justify;
}

.imgcolumn1:hover {
    backdrop-filter: blur(10px);
    filter: blur(4px);
    transition: 0.5s ease;
    
}

.imgcolumn:hover {
    backdrop-filter: blur(10px);
    filter: blur(4px);
    transition: 0.5s ease;
}
    

.header {
    background-color: var(--dark);
    padding: 12px;
    font-size: 17.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: right;
    }

.hero {
    height: 700px;
    width: 100%;
    background-image: url(./images/background.image.jpeg);
    background-size: cover;
    background-position: center;

 }
.pjct1img {
    color: var(--dark);
}


 .flex-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
 }

 .flex-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
 }

 .flex-item-left {
    flex: 25%;
    max-width: 25%;
    justify-content: right;
    border-style: solid;
    border-left: var(--dark);
    border-top: var(--dark);
    border-bottom: var(--dark);

    
}

.contactcolumn {
    flex: 25%;
    max-width: 25%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--dark);
    text-decoration: none;


    
}
.email {
    margin-left: 0px;
}
.contactcolumn img, .contactcolumn div {
margin-left: 200px;
}


.imgcolumn {
    flex: 25%;
    max-width: 25%;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;

}

.imgcolumn1 {
    flex: 50%;
    max-width: 50%;
    padding: 10px;
    position: relative;
}

.Logo {
position: absolute;
top: 75%;
left: 25%;
}

.Centretxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    font-size: 100px;
}


.Centretxt1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    font-size: 100px;
}

.flex-item-right {
    flex: 25%;
    max-width: 25%;
 }

 .About {
    float:right;
    color: var(--dark);
    padding-top: 10px;
    padding-right: 10px;
 }

 .avatar {
    float:right;
    color: var(--dark);
    padding-right: 10px;
    padding-top: 10px;

 }

.img {
    padding-left: 10px;
}

.img2 {
    padding-top: 10px;
}

.Github {
    text-decoration: none;
    color: var(--dark);
}

@media only screen and (max-width: 360px) {

    .hero {
        display: none;
    }

    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 50%;
    }
    
}

